#IntelliJ
.idea

#Virtual Environment
venv

#position log files
flocking_log_files
diffusion_log_files
foraging_log_files
dispersion_log_files
homing_log_files
warehouse_log_files

#MacOS stuff
.DS_Store

#stuff
cached_objects
NN_performance